body {
    margin: 0;
    background: #B39A83;
    overflow-x: hidden;
}

@font-face {
    font-family: Press;
    src: url(../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Arcade;
    src: url('../fonts/ARCADECLASSIC.TTF');
}
.logo {
    border-bottom: 4px solid rgb(0, 0, 0);
    background-image: url('../images/clouds.jpg');
    background-size: cover;
    background-position-y: -380px;
}

.picture {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}

#pic {
    margin-left:280px;
    width:1000px;
}

.about {
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introduction,
.mechanics, 
.rules {
    background: white;
    height: 250px;
    width: 250px;
    margin: 20px 50px 20px 160px;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
}

.titleofabout {
    margin: 0 0 0 5px;
    font-size: 35px;
    display: flex;
    width: 40px;
    color: rgb(0, 0, 0);
    font-family: Arcade;
    justify-content: center;
    padding-right: 10px;
    text-orientation: sideways;
    writing-mode: vertical-lr;
}

.textofabout {
    margin-right: 20px;
    margin-top: 20px;
    text-align: justify;
}

.information-div {
    border-radius: 20px;
    color:rgb(0, 0, 0);
    margin: 10px 120px;
    padding: 0 15px;
    width: 100%;
}

.beginbttn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    width:100%;
    padding: 50px;
    position: absolute;
    bottom: -50px;
    left: 390px;
}
#gamemode {
    background-image: url('../images/button-bg.png');
    background-size: 120% 120%;
    background-position-y: -10px;
    background-position-x: -30px;
    border-radius: 35px;
    border:none;
    font-family: Press;
    font-size: 20px;
    cursor: pointer;
    margin: 0 120px;
    height: 80px;
    width: 290px;
    line-height: 30px;
    color: #012A0B;
}

@keyframes shift {
  to {
    background-position: 200% center;
  }
}

#gamemode:hover{
    cursor: pointer;
}
#gamemode:active {
    box-shadow: none;
    margin-top: 10px;
}

#gamemode.load {
    cursor: wait;
}


.information-and-button {
    display: flex;
    flex-direction: row;
}