@font-face {
    font-family: Arcade;
    src: url(../fonts/ARCADECLASSIC.TTF);
}

.logo {
    border-bottom: 4px solid rgb(0, 0, 0);
    background-image: url('../images/clouds.png');
    background-size: 100% 100%;
}

.line {
    height: 4px;
    background-color: black;
    margin: 4px 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.search-and-profile {
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;
}

#profile {
    height: 95px;
    width: 105px;
    border-radius: 100%;
    margin: 0px 350px 10px 20px;
}

.search-bar {
    --padding: 9px;
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
    border-radius: 28px;
    padding: var(--padding);
    border: 2px solid black;
}

.search {
    font-size: 20px;
    font-family: Arcade;
    border: none;
    background: transparent;
    margin-left: var(--padding);
    outline: none;
    width: 500px;
}

.game-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 100vw;
    gap: 0;
}

.format-side-and-game-card {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logoforsearch {
    border: 2px solid black;
    margin: 0;
}

#sideimage {
    transform: rotate(-90deg);
    margin-left: -480px;
}

.side-line {
    width: 135px;
    height: 600px;
    background-repeat: no-repeat;
    border-right: 4px solid black;
    margin-left: -10px;
    overflow: hidden;
}

.game-card {
    height: 400px;
    width: 450px;
    margin: 15px 30%;
    user-select: none;
}

.game-card.visible {
    height: 420px;
}

.barbelow {
    border: 2px solid black;
    bottom: 10px;
    left: 160px;
    position: fixed;
    height: 50px;
    width: 65vw;
    border-radius: 20px;
    display: flex;
    background-color: white;
    flex-direction: row;
}

#sports {
    height: 500px;
}

.game,
.addpost,
.searchbelowbar,
.chatplace {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.book-mark {
    cursor: pointer;
    color: black;
}

.profile-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likeThisPost {
    cursor: pointer;
}

.likes {
    width: 40px;
    margin-top: -5px;
    cursor: pointer;
}

.selected {
    border: 2px solid rgb(52, 133, 224);
    border-radius: 100%;
}

.material-symbols-outlined {
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.fade-out {
    opacity: 0;
    transform: scale(0.8);
}

.username {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.581);
}

.penTeto {
    border-radius: 100px;
    width: 60px;
    margin: 10px 10px 0 20px;
    height: 50px;
}

.game-card.chosen {
    border: 2.5px solid rgb(117, 65, 117);
    box-shadow: 0 0 5px rgb(117, 65, 117);
}

.name {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    display: flex;
}

.nameofgame {
    margin: 0;
    padding: 0;
    display: flex;
    height: 24px;
}

.line1 {
    height: 4px;
    background-color: black;
    margin: 4px 0;
    width: 140px;
}

.description {
    line-height: -20px;
    padding-left: 90px;
    margin: 0 10px 5px 10px;
    width: 190px;
}

.actual-game {
    display: flex;
    justify-content: center;
    margin: 15px 15px 0 20px;
    gap: 0;
    flex-direction: column;
    height: 250px;
}

.gamepic {
    width: 415px;
    height: 200px;
    border: 4px solid black;
    margin: 0;
    padding: 0;
    transition: box-shadow .2s;
}

.interactions {
    height: 35px;
    margin-top: -10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 5px;
    width: 400px;
    border: 4px solid black;
}


#dis {
    color: black;
    font-weight: bold;
}

#lik {
    color: rgb(246, 172, 250);
    font-weight: bold;
}

.message {
    border: 2px dotted rgb(191, 49, 49);
    height: 40px;
    margin-top: 10px;
    background-color: rgb(195, 87, 105);
    border-radius: 20px;
    padding-left: 10px;
    opacity: 0;
    transition: opacity .5s;
}

.username-and-nameofgame {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.visible {
    opacity: 1;
}

.dislike {
    width: 40px;
    margin-top: -5px;
    cursor: pointer;
}

.dislikeThisPost {
    cursor: pointer;
}

.logoofgame {
    width: 240px;
    display: flex;
    justify-content: center;
}

#playcubecraft {
    height: 25px;
    cursor: pointer;
}

.gamecardsandbottombar {
    display: flex;
}

#greenlogo {
    height: 60px;
    margin-top: -10px;
    cursor: pointer;
}

.comments {
    width: 40px;
    cursor: pointer;
    margin-top: -3px;
}

.comments:hover {
    color: rgb(50, 138, 138);
}

.commentsYes {
    position: fixed;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    height: 400px;
    width: 300px;
    transition: opacity .5s;
    opacity: 1;
}

#playgame {
    cursor: pointer;
}

.bookmark {
    width: 40px;
    margin-top: -5px;
    cursor: pointer;
}

.report {
    width: 40px;
    cursor: pointer;
}

.report:hover {
    color: red;
}

.commentsInside {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transition: opacity .5s, transform .5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleofchat {
    background-color: rgba(228, 84, 108, 0.848);
    padding: 20px;
    border-radius: 20px 20px 0 0;
    margin: 0;
    width: 263px;
    transition: opacity .5s;
    position: absolute;
    top: -2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.623);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reported {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 300px;
    border: 2px solid black;
    height: 180px;
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.536);
    backdrop-filter: blur(8px);
    z-index: 15000;
    opacity: 0;
    transition: opacity .5s;
}

.black-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.441);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.cantReport {
    cursor: not-allowed;
}

#reportedOkay {
    background-color: rgb(77, 77, 77);
    width: 100%;
    padding: 5px 0;
    color: white;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0 5px 0px rgb(0, 0, 0);
    transition: box-shadow .5s, margin-top .5s, opacity .5s;
    cursor: pointer;
}

#reportedOkay:active {
    box-shadow: none;
    margin-top: 5px;
}

.black-background.visible {
    pointer-events: auto;
    z-index: 12000;
    opacity: 1;
}

.reported.visible {
    opacity: 1;
}

.bottombar {
    position: fixed;
    border: 2px solid black;
    bottom: 10px;
    height: 8vh;
    width: 100vw;
    background-color: white;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
}

.game,
.addagame,
.searchagame,
.community {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.icon {
    height: 10.5vh;
    cursor: pointer;
}

.excepticon {
    margin-top: 15px;
    height: 14vh;
    cursor: pointer;
}