body {
    justify-content: center;  
    align-items: center;          
    margin: 0;  
    object-fit: cover; 
    display: flex;
    height: 100vh; 
    background-image: url(../images/background-login.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}

@font-face {
    font-family: Arcade;
    src: url(../fonts/ARCADECLASSIC.TTF);
}


#business-logo {
    min-width: 150px;  
    min-height: auto;  
    max-width: 100%; 
}

.login-form {
    border: 2px solid rgba(193, 192, 192, 0.479);
    height: 75vh;
    min-width: 400px;
    max-width: 35%;
    background-color: rgba(255, 255, 255, 0.242);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 10px 10px black;
}

.welcome-message {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arcade;
    font-size: clamp(30px, 2vw, 30px);
    color: #FFB842;
}

.info-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 50px;
    border-radius: 20px;
    padding-left: 15px;
    border-top: 5px solid #CE993D;
    width: 60%;
    width: 90%;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#beginbttn {
    margin: 0 120px;
    border-radius: 20px;
    height: 80px;
    background: #9d9b9b;             
    color: black;
    font-family: Arcade;
    padding: 10px 20px;
    border: 2px solid rgb(216, 215, 215);
    font-size: 40px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 6px 1px #555454;
    transition: box-shadow .05s, margin-top .05s;
}

#beginbttn:active {
    box-shadow: none;
    margin-top: 5px;
    color: #FFB842;
}

.black-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.437);
    top:0;
    backdrop-filter: blur(4px);
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s;
}

.black-screen.show {
   opacity: 1;
}

.alert-screen {
    position: absolute;
    top:30%;
    background-color: rgb(224, 219, 219);
    height: 38vh;
    width: 30vw;
    min-width: 400px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    border-radius: 20px;
    font-family: Arcade;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: justify;
    padding: 20px;
}

.alert-screen.show {
    opacity: 1;
    pointer-events: auto;
}

#understood-bttn {
    margin: 0 120px;
    border-radius: 20px;
    height: 40px;
    background: #9d9b9b;             
    color: black;
    font-family: Arcade;
    padding: 10px 20px;
    border: 2px solid rgb(216, 215, 215);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 6px 1px #555454;
    transition: box-shadow .05s, margin-top .05s;
}

#understood-bttn:active {
    box-shadow: none;
    margin-top: 5px;
    color: #FFB842;
}

#beginbttn.load {
    cursor:wait;
}