body {
    justify-content: center;
    align-items: center;
    margin: 0;
    object-fit: cover;
    display: flex;
    height: 100vh;
    background-image: url(../images/background-login.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}


@font-face {
    font-family: Economica;
    src: url(../fonts/Economica-Regular.ttf);
}

@font-face {
    font-family: Press;
    src: url(../fonts/PressStart2P-Regular.ttf);
}


.business-logo-and-name {
    margin-top: -100px;
}


#business-logo {
    min-width: 150px;
    min-height: auto;
    max-width: 100%;
    margin: 0;
}

.welcome-message {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Press;
    font-size: 30px;
    color: #FFB842;
}

.info-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}


input {
    height: 50px;
    border-radius: 20px;
    padding-left: 15px;
    border-top: 5px solid #CE993D;
    width: 240px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.953);
}

.begin-bttn {
    position: fixed;
    right: 30px;
    bottom: 105px;
}

#beginbttn {
    margin: 0 120px;
    height: 80px;
    width: 190px;
    background-image: url('../images/button-bg.png');
    background-size: 120% 120%;
    background-position-y: -10px;
    background-position-x: -20px;
    border-radius: 25px;
    border: none;
    font-family: Press;
    font-size: 20px;
    cursor: pointer;
}



.black-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.437);
    top: 0;
    backdrop-filter: blur(4px);
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s;
}

.black-screen.show {
    opacity: 1;
}

.alert-screen {
    position: absolute;
    top: 30%;
    background-color: rgb(224, 219, 219);
    height: 38vh;
    width: 30vw;
    min-width: 400px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    border-radius: 20px;
    font-family: Press;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

.alert-screen.show {
    opacity: 1;
    pointer-events: auto;
}

#understood-bttn {
    margin: 0 120px;
    border-radius: 20px;
    height: 40px;
    background: #9d9b9b;
    color: black;
    font-family: Press;
    padding: 10px 20px;
    border: 2px solid rgb(216, 215, 215);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 6px 1px #555454;
    transition: box-shadow .05s, margin-top .05s;
}

#understood-bttn:active {
    box-shadow: none;
    margin-top: 5px;
    color: #FFB842;
}

#beginbttn.load {
    cursor: wait;
}